/*  fonts => Source:'https://fonts.google.com/specimen/Poppins' */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: auto;
  font-weight: 200;
  src: url(fonts/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: auto;
  font-weight: 600;
  src: url(fonts/Poppins-SemiBold.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 375px;
}
body {
  width: 100vw;
  min-height: 900px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}
.container {
  font-family: "Poppins";
}
/* start=>  header all content */
.container .header {
  width: 540px;
  text-align: center;
  margin: 50px auto;
  color: #4d4f62;
  margin-bottom: 50px;
}
.container .header h1,
.container .header h2 {
  font-weight: 200;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.25px;
}
.container .header h2 {
  font-weight: 600;
}
.container .header p {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.104167px;
  opacity: 0.5;
}
/* end=>  header all content */
/* start=>  main content */
.main {
  width: 1110px;
  height: 530px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* theme box card */
.box-card {
  width: 350px;
  height: 246px;
  background-color: #fff;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
}
.border-top-green {
  border-top: 4px solid #44d3d2;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}
.border-top-red {
  border-top: 4px solid #ea5454;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}
.border-top-orange {
  border-top: 4px solid #fcae4a;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}
.border-top-blue {
  border-top: 4px solid #549ef2;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}
.margin-bottom {
  margin-bottom: 30px;
}
/*  haeder box card */
.box-card-header {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #4d4f62;
  margin-bottom: 6px;
}
/*  description box card */
.box-cart-description {
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.0902778px;
  opacity: 0.5;
}
/*  image box card */
.box-cart-image {
  width: 64px;
  height: 64px;
  align-self: flex-end;
}
/* end=>  main content */
/*  End Line Style - Challange and Author */
.attribution {
  font-size: 14px;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  margin-top: 50px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* RESPONSIVE FOR MOBILE */
@media only screen and (max-width: 1130px) {
  body {
    height: 100%;
  }
  .container .header {
    width: 310px;
  }
  .container .header h1,
  .container .header h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .container .header h2 {
    font-weight: 600;
  }
  .main {
    width: 375px;
    height: 1008px;
    flex-direction: column;
    justify-content: center;
  }
  .box-card {
    width: 311px;
    height: 222px;
    margin-bottom: 30px;
    padding: 20px;
  }
  .box-cart-image {
    width: 57px;
    height: 57px;
  }
  .attribution {
    font-weight: 400;
    margin: 25px;
  }
}
